<h1>All Runs</h1>

<ul>
  <li><%= button_to 'Start 10 processes', process_runs_url %></li>
</ul>

<table>
  <tr>
    <th>ID</th>
    <th>Created at</th>
    <th>Status</th>
  </tr>

  <% @process_runs.each do |process_run| %>
    <tr
      data-controller="process-run-row"
      data-record-id="<%= process_run.id %>"
    >
      <td><%= process_run.id %></td>
      <td><%= process_run.created_at.to_s(:long) %></td>
      <td data-target="process-run-row.statusCol"><%= process_run.status %></td>
    </tr>
  <% end %>
</table>

<%= paginate @process_runs %>
